#header {
  position: relative;
  border-bottom: 2px solid #db2927;
}
#contact {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  color: black;
  font-size: 13px;
  font-family: tahoma;
}
#email, #name {
  color: #045198;
}
#email>a {
  text-decoration: none;
  color: #045198;
}

#content {
  margin: 0 auto;
  width: 500px;
}

header {
  font-size: 18px;
  font-family: tahoma;
  color: #2c286d;
}
form {
  width: 500px;
  background-color: #ececec;
  border: 1px solid #bcbcbc;
  padding: 20px 25px;
}
label {
  padding-right: 20px;
  font-family: tahoma;
  font-size: 14px;
  color: black;
}
.input {
  width: 360px;
  height: 25px;
  border: 1px solid #b9b9b9;
  background-color: white;
}

form div div {
  margin: 4px 10px 4px 0px;
  float: right;
  clear: both;

}

#textarea-label {
  vertical-align: top;
}
#textarea {
  width: 360px;
  height: 135px;
}

#submit {
  width: 130px;
  height: 32px;
  color: white;
  text-align: center;
  font-family: tahoma;
  font-size: 14px;
  background-color: #dc2927;
  border: 1px solid #a10200;
  margin-right: 229px;
}

#gender {
  border: none;
  vertical-align: center;
  padding-right: 210px;
  background-color: #eeeeee;
}
#gender label {
  font-family: tahoma;
  font-size: 13px;
  color: #6f6f6f;
}

#dob {
  padding-right: 22px;
}
select {
  width: 110px;
  font-family: tahoma;
  font-size: 13px;
  color: #6f6f6f;
  background-color: white;
}

body {
  margin: 0px;
  padding: 0px;
}
