body {
  width: 1000px;
  margin: 0px auto;
  font-family: sans-serif;
  color: #999999;
}
#navbar {
  padding: 20px;
  font-size: 12px;
  width: 700px;
  margin: auto;
}
#navbar h4 {
  font-size: 14px;
  color: #555555;
}
h4, li, ul {
  display: inline;
  padding: 10px;
  font-weight: bold;
}
#navbar img {
  float: right;
}
#banner img {
  width: 100%;
}
.category_heading {
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  font-size: 14px;
  margin: 30px;
  font-weight: bold;
}
#content {
  margin: 0px auto;
  width: 70%;
}
.product {
  border: 2px solid #eeeeee;
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 17px;
  color: #999999;
  display: inline-block;
  margin: 0px 10px;
}

.product img {
  padding: 10px 30px;
}

.title {
  margin: 7px 0px 5px 0px;
}

.price {
  font-weight: bolder;
  color: #777777;
}
.price sup {
  vertical-align: text-top;
}
#brand {
  margin: 30px 0px;
}
#brand img{
  margin: 0px 14px;
}
.row {
  text-align: center;
}
#navbar>span{
  font-size: 25px;
  color: #eeeeee;
}
hr {
  display: inline-block;
  width: 100px;
  border-color: rgba(0, 0, 0, 0.05);
  margin: 0px 20px;
  vertical-align: middle;
}
