#header {
  background-color: #b2e7ff;
  font-size: 24px;
  color: black;
  text-align: center;
  border-bottom: 1px solid #0ab1ff;
  border-top: 0px;
}
#content_body {
  overflow: hidden;
  background-color: yellow;
  display: flex;
}
#sidebar {
  background-color: #0ab1ff;
  padding: 25px 10px;
  width: 230px;
}
#sidebar p {
  font-family: tahoma;
  font-size: 12px;
  color: black;
}
#sidebar span:first-of-type {
  font-family: tahoma;
  font-size: 18px;
  color: black;
}
#nav {
  font-size: 14px;
  color: white;
  padding: 15px;
}
#content {
  background-color: #ededed;
  padding: 20px;
  width: 710px;
  height: inherit;
  font-size: 14px;
  color: #802525;
}
#content p:first-of-type {
  font-size: 24px;
  color: black;
}
#footer {
  clear: both;
  float: none;
  background-color: #3cff78;
  font-size: 24px;
  color: black;
  text-align: center;
  border-bottom: 2px solid #0ab1ff;
  margin: 0px;
}
body {
  width: 1000px;
  margin: 0px auto;
  font-family: tahoma;
}
