body {
  width: 980px;
  font-family: Arial;
  margin: auto;
  font-size: 12px;
  line-height: 22px;
  position: relative;
}
a {
  text-decoration: none;
  color:black;
}
#navbar {
  margin: 30px 40px;
  position: relative;
}
#navbar ul , #navbar li{
  display: inline;
  font-size: 14px;
  padding: 10px 15px;
  vertical-align: top;
  color: black;
}
#current_page {
  padding: 10px 5px;
  background-color: #eeeeee;
}
#navbar div {
  display: inline-block;
}
#navbar h1 {
  font-weight: bold;
  display: inline;
}
#nav-link {
  float: right;
}
h1 {
  font-size: 36px;
}

#banner {
  background-color: #333333;
  padding: 30px 70px;
  display: flex;
}

#shadow {
  position: absolute;
  background-image: url(../images/content_wrap.jpg);
  background-repeat: repeat-x;
  height: 83px;
  float: left;
  width: 980px;
}

#banner-image {
  width: 416px;
  height: 274px;
  border: 5px solid black;
  display: inline-block;
}

#banner-content {
  width: 500px;
  display: inline-block;
  padding: 0px 0px 0px 45px;
}
#banner-content > h2 {
  color: #ffcc33;
  font-size: 24px;
}
#banner-content > p {
  color: white;
}

.banner-button {
  padding: 10px 20px;
  background-color: #ffcc33;
  color: black;
  font-weight: bold;
}
.button {
  padding: 10px 20px;
  background-color: black ;
  color: #ffcc33;
  font-weight: bold;

}

#content {
  width: 840px;
  margin: auto;
  position: relative;
}

#content div h2 {
  font-size: 24px;
}
#service-box-container {
  width: 980px;
  margin: auto;
  padding-bottom: 30px;
}

.service-box {
  display: inline-block;
  width: 230px;
  background-color: #eeeeee;
  border-top: 10px solid #ffcc33;
  padding: 10px 10px 20px 10px;
  margin: 15px;
}
.service-box p {
  padding-bottom: 10px;
}
.service-box > h2 {
  font-weight: normal;
}

#footer {
  border-top: 5px solid black;
  padding: 20px 70px;
  position: relative;
}
#copyright {
  display: inline;
}
#footer-navbar ul, #footer-navbar li{
  display: inline;
  padding: 0px 10px;
}
#footer-navbar {
  float: right;
}
